:root {
	font-size: 16px;
	font-family: sans-serif;

	--nav-icon-size: 3rem;

	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
}

body {
	margin: 0;
	padding: 0;
	background: white;
	color: black;
}

/* Only for Chrome. Figure out a way to do this in firefox later */
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

/* Desktop */
@media (min-width: 600px) {
	.main-page-content {
		margin-left: calc(2 * var(--nav-icon-size));
		padding: 1.5rem;
	}
}

/* Mobile */
@media (max-width: 600px) {
	.main-page-content {
		margin: 0;
		padding: 1rem;
	}
}
