:root {
	font-size: 16px;
	font-family: sans-serif;

	--nav-icon-size: 3rem;

	--border-radius: 5px;

	--primary-text-color: hsl(0, 0%, 20%);
	--text-secondary: #ececec;
	--auth-form-padding: 1em;
	--light-background: hsl(204, 10%, 95%);
	--input-border-color: black;
	--input-focus-border-color: hsl(202, 78%, 49%);
	--input-text-color: black;
	--text-primary: #b6b6b6;
	--input-shadow-color: var(--input-focus-border-color);

	--input-border-color: black;
	--input-focus-border-color: hsl(202, 78%, 49%);
	--input-text-color: black;
	--input-shadow-color: var(--auth-form-focus-border-color);
}

.form-label {
	margin-bottom: 0.5em;
}

body {
	margin: 0;
	padding: 0;
	background: white;
	color: black;

	/* background from SVGBackgrounds.com */
	background-color: #22e7ee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(840 0)'%3E%3Cg transform='translate(0 435)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-320.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.82' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

button {
	cursor: pointer;
	display: block;
	transition: 200ms ease;
}

button:disabled {
	cursor: not-allowed;
	background: red !important;
}

*,
*::before,
*::after {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Only for Chrome. Figure out a way to do this in firefox later */
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

.page-header {
	font-size: 1.75rem;
	margin-top: 1.5rem;
}

.auth-form-input,
.transaction-form-input {
	width: 100%;
	padding: 0.375em 0.75em;
	color: var(--primary-text-color);
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid var(--input-border-color);
	border-radius: var(--border-radius);
	outline: none;
	margin-top: 0.25em;
	transition: border-color 200ms ease-in, box-shadow 200ms ease-in;
}

.auth-form-input:hover,
.transaction-form-input:hover {
	border: 1px solid var(--input-focus-border-color);
}

input[type='date'],
select {
	cursor: pointer;
}

.mb-1 {
	margin-bottom: 1rem !important;
}

.w-100 {
	width: 100% !important;
}

.d-flex {
	display: flex !important;
}

.justify-content-center {
	justify-content: center !important;
}

.auth-form-input:focus,
.transaction-form-input:focus {
	border: 1px solid var(--input-focus-border-color);
	box-shadow: 0 0 5px 2px var(--input-shadow-color);
}

.custom-select {
	position: relative;
	height: 40px;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.custom-select:hover > .custom-arrow,
select:focus + .custom-arrow {
	border: 1px solid var(--input-focus-border-color);
	border-left: none;
}

.custom-arrow {
	background: white;
	display: block;
	height: 100%;
	width: 40px;
	position: absolute;
	pointer-events: none;
	top: 0;
	right: 0;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border: 1px solid black;
	border-left: none;
	transition: border-color 200ms ease-in;
}

.custom-arrow::before,
.custom-arrow::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	--size: 0.45em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.custom-arrow::before {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-top: var(--size) solid var(--primary-text-color);
	top: 65%;
}

.custom-arrow::after {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: var(--size) solid var(--primary-text-color);
	top: 35%;
}

.auth-form-group {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.auth-form-group:first-child {
	margin-top: 0;
}

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.auth-link {
	color: hsl(0, 0%, 100%);
	font-weight: 750;
	font-size: 1rem;
	text-decoration: none;
	text-shadow: black 0px 0px 2px;
}

.auth-link:hover {
	color: hsl(0, 0%, 90%);
}

.bi-google {
	width: 1.2em;
	height: 1.2em;
	margin-right: 0.5em;
	vertical-align: sub;
	fill: currentColor;
}

.google-btn {
	padding: 0.375em 0.75em;
	width: 100%;
	min-height: 3em;
	background: hsl(0, 0%, 100%);
	outline: none;
	border: 1px solid black;
	border-radius: var(--border-radius);
	color: black;
	font-weight: 700;
}

.google-btn:hover {
	background: hsl(0, 0%, 90%);
}

/* Desktop */
@media only screen and (min-width: 600px) {
	.main-page-content {
		margin-left: calc(2 * var(--nav-icon-size));
		padding: 1.5rem;
	}

	.page-header {
		font-size: 2.5rem;
	}
}

/* Mobile */
@media only screen and (max-width: 600px) {
	.main-page-content {
		margin: 0;
		padding: 1rem;
		padding-bottom: calc(2 * var(--nav-icon-size));
	}

	.btn-container {
		margin-bottom: 5rem;
	}

	:root {
		--nav-icon-size: 2rem;
	}
}
