:root {
	--form-background-color: var(--light-background);
}

.purchase-form_title {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	min-width: 100%;
}

.purchase-form_container {
	margin-bottom: 2rem !important;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.purchase-form-label {
	margin-bottom: 0.25em;
}

.purchase-form-input {
	margin-bottom: 0.5em;
}

.purchase-form-group {
	display: flex;
	flex-direction: column;
}

.form-column {
	display: flex;
	flex-direction: column;
}

.purchase-form-btn-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
}

.form-btn {
	padding: 0.375em 0.75em;
	min-height: 3em;
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
}

.save-btn {
	background: hsl(210, 70%, 55%);
	color: white;
}

.save-btn:hover {
	background: hsl(210, 70%, 45%);
}

.cancel-btn {
	background: hsl(9, 70%, 55%);
	color: white;
}

.cancel-btn:hover {
	background: hsl(9, 70%, 45%);
}

.form-select {
	height: 100%;
	margin: 0 !important;
	background: white;
	appearance: none;
}

/* Desktop */
@media (min-width: 600px) {
	.purchase-form_container {
		flex-direction: row;
		max-width: 800px;
		margin: auto;
	}

	.form-column {
		width: 50%;
		padding-right: 1em;
		padding-top: 0;
	}
}

/* Mobile */
@media (max-width: 600px) {
}
