.settings-group {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-bottom: 2rem;
}

.group-title-btn {
	font-size: 1.4rem;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	text-align: left;
}

.dropdown-btn-icon {
	width: 1.25em;
	height: 1.25em;
	fill: var(--primary-text-color);
	vertical-align: sub;
	transform: translateY(2px);
}

.settings-form-group {
	margin-top: 1em;
}

.success-message-container {
	opacity: 0;
	transition: opacity 400ms ease;
	margin: 5rem auto;
	color: hsl(152, 69%, 19%);
	background-color: hsl(153, 31%, 86%);
	border: 1px solid hsl(152, 69%, 19%);
	border-radius: 5px;
	padding: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.05rem;
	display: none;
	max-width: fit-content;
}

.success-message-container.active {
	display: flex;
	opacity: 1;
}

.close-success-btn {
	background: none;
	font-weight: bold;
	border: none;
	outline: none;
	font-size: 1.2em;
	color: inherit;
}

.close-success-btn:hover {
	color: hsl(152, 69%, 9%);
}

.settings-category {
	text-transform: capitalize;
	display: flex;
	margin-top: 0.75em;
	list-style: none;
}

.current-category-container {
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 0.5em 1em;
	margin-top: 1em;
}

.category-form__label {
	width: 100%;
	display: block;
}

.category-form__input {
	width: 100%;
	max-width: 300px;
	padding: 0.375em 0.75em;
	color: var(--primary-text-color);
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid var(--input-border-color);
	border-radius: var(--border-radius);
	outline: none;
	margin-top: 0.25em;
	transition: border-color 200ms ease-in, box-shadow 200ms ease-in;
	margin-bottom: 1em;
}

.category-form__btns-container {
	display: grid;
	grid-template-columns: repeat(3, min-content);
	grid-column-gap: 1em;
}

.category-form__btn {
	min-width: 3rem;
	padding: 0.375em 0.75em;
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
	margin-right: 0.5rem;
	color: white;
}

.category-form__done-btn {
	background: hsl(192, 65%, 59%);
}
.category-form__done-btn:hover {
	background: hsl(192, 65%, 49%);
}

.category-form__cancel-btn {
	background: hsl(44, 65%, 59%);
}

.category-form__cancel-btn:hover {
	background: hsl(44, 65%, 49%);
}
.category-form__remove-btn {
	background: hsl(0, 65%, 59%);
}

.category-form__remove-btn:hover {
	background: hsl(0, 65%, 49%);
}

/* Desktop */
@media (min-width: 600px) {
	.settings-group {
		max-width: 800px;
		transition: transform 400ms ease;
	}

	.settings-group:hover {
		transform: translateY(-3px);
	}
}

/* Mobile */
@media (max-width: 600px) {
}
