.monthly-page {
	display: grid;
	row-gap: 1.5rem;
}

.form-container {
	height: fit-content;
	margin-bottom: 1.5rem;
}

.form-select {
	width: 100%;
}

/* Desktop */
@media screen and (min-width: 600px) {
	.monthly-page {
		display: flex;
	}

	.monthly-graph-container {
		position: sticky;
		left: calc(2 * (var(--nav-icon-size)));
		top: 1.5rem;
		margin-left: 1.5rem;
		width: 100%;
		height: calc(100vh - 2 * (1.5rem));
	}

	.form-and-purchases {
		margin-left: 1.5rem;
		width: 100%;
		max-width: 800px;
	}
}

/* Mobile */
@media screen and (max-width: 600px) {
	.monthly-page {
		min-width: 100vw;
		grid-template-areas:
			'form'
			'graph'
			'purchases';
	}
}
