.form-container,
.month-purchases-container,
.graph-container {
	background: var(--light-background);
	color: var(--primary-text-color);
	box-shadow: 0 0 5px 2px black;
	border-radius: 5px;
	border: none;
	padding: 1em;
	transition: transform 400ms ease;
}

.form-container:hover,
.month-purchases-container:hover,
.graph-container:hover {
	transform: translateY(-3px);
}

.monthly-page {
	display: grid;
	row-gap: 1.5rem;
}

.form-container {
	height: fit-content;
	margin-bottom: 1.5rem;
}

.form-select {
	width: 100%;
}

/* Desktop */
@media screen and (min-width: 600px) {
	.monthly-page {
		display: flex;
	}

	.monthly-graph-container {
		position: sticky;
		left: calc(2 * (var(--nav-icon-size)));
		top: 1.5rem;
		margin-left: 1.5rem;
		width: 100%;
		height: calc(100vh - 2 * (1.5rem));
	}

	.form-and-purchases {
		margin-left: 1.5rem;
		width: 100%;
		max-width: 800px;
	}
}

/* Mobile */
@media screen and (max-width: 600px) {
	.monthly-page {
		min-width: 100vw;
		grid-template-areas:
			'form'
			'graph'
			'purchases';
	}
}
