.purchases-container {
	background: var(--light-background);
	color: var(--primary-text-color);
	box-shadow: 0 0 5px 2px black;
	border-radius: 5px;
	border: none;
	margin: 3rem auto;
	padding: 1em;
}

.transaction-btn-container {
	display: flex;
}

.transaction-btn {
	min-width: 3rem;
	padding: 0.375em 0.75em;
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
	margin-right: 0.5rem;
}

/* Desktop */
@media (min-width: 600px) {
	.purchases-container {
		max-width: 800px;
		transition: transform 400ms ease;
	}

	.purchases-container:hover {
		transform: translateY(-3px);
	}

	.transaction-btn-container {
		display: none;
	}

	.transaction:hover > .transaction-btn-container {
		display: flex;
	}
}
