.purchases-container {
	background: var(--light-background);
	color: var(--primary-text-color);
	box-shadow: 0 0 5px 2px black;
	border-radius: 5px;
	border: none;
	margin: 3rem auto;
	padding: 1em;
}

.purchase-btn-container {
	display: flex;
}

.purchase-btn {
	min-width: 3rem;
	padding: 0.375em 0.75em;
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
	margin-right: 0.5rem;
}

.pagination-btns-container {
	display: flex;
	justify-content: center;
}

.pagination-btn {
	padding: 0.375em 0.75em;
	min-height: 3em;
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
	min-width: 4rem;
	margin-right: 1rem;
	color: white;
	background: hsl(210, 70%, 55%);
}

.pagination-btn:hover {
	background: hsl(210, 70%, 45%);
}

/* Desktop */
@media (min-width: 600px) {
	.purchases-container {
		max-width: 800px;
		transition: transform 400ms ease;
	}

	.purchases-container:hover {
		transform: translateY(-3px);
	}

	.purchase-btn-container {
		display: none;
	}

	.purchase:hover > .purchase-btn-container {
		display: flex;
	}
}
