:root {
	--input-border-color: black;
	--input-focus-border-color: hsl(202, 78%, 49%);
	--input-text-color: black;
	--input-shadow-color: var(--auth-form-focus-border-color);
}

.auth-form-group {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.auth-form-group:first-child {
	margin-top: 0;
}

/* Desktop */
@media (min-width: 600px) {
}

/* Mobile */
@media (max-width: 600px) {
	.btn-container {
		margin-bottom: 5rem;
	}
}

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.auth-link {
	color: hsl(0, 0%, 100%);
	font-weight: 750;
	font-size: 1rem;
	text-decoration: none;
	text-shadow: black 0px 0px 2px;
}

.auth-link:hover {
	color: hsl(0, 0%, 90%);
}
