:root {
	--navbar-animation-duration: 400ms;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

.svg-inline--fa {
	width: var(--nav-icon-size);
	height: var(--nav-icon-size);
	fill: #df49a6;
	transition: var(--navbar-animation-duration) ease;
}

.navbar {
	position: fixed;
	background: var(--bg-primary);
	transition: width var(--navbar-animation-duration);
}

.navbar_nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.navbar_nav-item {
	width: 100%;
	height: calc(2 * var(--nav-icon-size));
	display: flex;
	align-items: center;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--navbar-animation-duration);
}

.navbar_nav-item:last-child {
	margin-top: auto;
}

.navbar_link {
	width: 100%;
	color: var(--text-primary);
	text-decoration: none;
}

.logo {
	background: var(--bg-secondary);
}

.logo .navbar_link {
	grid-template-columns: 1fr calc(2 * var(--nav-icon-size));
}

.logo .navbar_link-text {
	margin-left: calc(0.5 * var(--nav-icon-size));
	text-transform: uppercase;
	font-size: 1.5rem !important;
	font-weight: bold;
	letter-spacing: 0.3ch;
}

.navbar_nav-item:hover {
	filter: grayscale(0%) opacity(1);
	color: var(--text-secondary);
	background: var(--bg-secondary);
}

.navbar_link-text {
	display: none;
}

.logo svg {
	transform: rotate(0deg);
	transition: transform var(--navbar-animation-duration);
}

.navbar:hover .logo svg {
	transform: rotate(-540deg);
}

.fa-primary {
	fill: #ff7eee;
}

.fa-secondary {
	fill: #df49a6;
}

/* Mobile */
@media (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: calc(2 * var(--nav-icon-size));
	}

	.logo {
		display: none;
	}

	.navbar_nav {
		flex-direction: row;
	}

	.navbar_link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Desktop */
@media (min-width: 600px) {
	.navbar {
		width: calc(2 * var(--nav-icon-size));
		height: 100vh;
	}

	.navbar:hover {
		width: 23rem;
	}

	.navbar:hover .navbar_link-text {
		display: block;
		font-size: 1.25rem;
		white-space: nowrap;
		overflow: hidden;
	}

	.navbar_link {
		display: grid;
		grid-template-columns: calc(2 * var(--nav-icon-size)) 1fr;
		column-gap: 1rem;
		align-items: center;
	}

	.svg-inline--fa {
		margin-left: calc(0.5 * var(--nav-icon-size));
	}
}
