.year-graph-container {
	width: 100%;
}

.select-form-container {
	margin-top: 1.5rem;
}

/* Desktop */
@media only screen and (min-width: 600px) {
	.year-graph-container {
		min-height: 400px;
	}
}

/* Mobile */
@media only screen and (max-width: 600px) {
}
